/* khai báo biến */
:root {
    --primary-color: #E8621B;
    --color-yellow-light: #FCE969;
    --color-light-green: #94C93C;
    --secondary-color: #42953C;
    --color-white: #ffffff;
    --color-black: #252525;
    --color-gray: #F5F5F3;
    --font-name: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cài đặt cơ bản */


body {
    font-family: var(--font-name);
    background-color: var(--color-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
}

h2 {
    text-transform: uppercase;
}

p,
h1,
ul,
li,
h2 {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

p {
    font-size: 14px;
    color: var(--color-black);
}

a {
    font-size: 14px;
    text-decoration: none;
    color: unset;
}

li {
    font-size: 14px;
}

.primary-btn {
    width: fit-content;
    background-color: var(--color-white);
    padding: 15px 50px;
    border-radius: 10px;
    border: 1px solid var(--color-black);
}

.primary-btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--color-white);
}

ul {
    list-style: none;
}

/* Base class  */
.wrapper-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.wrapper-position {
    max-width: 1200px;
    width: calc(100% - 20px);
}

.wrapper-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.background-color-W {
    background-color: var(--color-white);
}

/* css header */


.custom__menu {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}

.logo {
    width: 141px;
}

.custom-menu__element {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    justify-content: space-between;
}


.element-active {
    color: var(--primary-color);
}


.custom-menu__element a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.custom-menu__element a:hover {
    color: var(--primary-color);
}

.custom-menu__btn {
    background-color: var(--color-white);
    border: none;
}

.custom-menu__btn i {
    color: var(--secondary-color);
    font-size: 16px;
}


.custom-switch__lang a {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 16px;
}



.custom-menu__mobile {
    padding: 5px 20px;
    margin-bottom: 5px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: none;
}

.custom-menu__mobile i {
    font-size: 18px;
    color: var(--color-white);
}

/* css menu mobile */
/* .background-menu-mb{

}
.menu-mb{

} */

/* css narbar */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.nar-content {
    max-width: 1200px;
    width: calc(100% - 20px);
    gap: 10px;
    display: flex;
    align-items: center;
}

.nar-content a {
    font-size: 14px;
}

.nar-content i {
    font-size: 10px;
}


/* css banner btn slider */

.slider {
    width: 90%;
    
}

.slider img {
    border-radius: 10px;
}

.btn-control {
    width: 90%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    top: 35%;
}

.prev-btn,
.next-btn {
    padding: 15px 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* css container */


.container {
    width: 100%;
}

.custom-intro {
    width: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    gap: 20px;
}


.custom-intro__element {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.custom-intro__element p {
    font-size: 16px;
}

.custom-intro__element h1,
.custom-intro__element p:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

.custom-intro__element h1 {
    font-size: 68px;
    color: var(--primary-color);
}

.custom-intro__element span:first-child {
    font-size: 14px;
    font-weight: 500;
}

.custom-intro__element div {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
}

.custom-intro__element div>a,
.custom-intro__element div>i {
    color: var(--primary-color);
}

.custom-intro__element div>i {
    font-size: 12px;
}

.custom-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.custom-content h2,
.custom-content>p {
    text-transform: uppercase;
    font-weight: bold;
}

.custom-content h2 {
    color: var(--primary-color);
    font-size: 60px;
}

.custom-content>p {
    font-size: 24px;
}

.intro__item,
.intro__bone {
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.custom-intro__image {
    flex: 1 1 50%;
}

.img-map{
    height: 678px;
    position: relative;
}

.img-map img{
    position: absolute;
    top: -200px;
    width: 1250px;
}

.container-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.intro__bone {
    flex: 1 0 40%;
}

.intro__bone div,
.intro__item div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.intro__bone span,
.intro__item span {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
}

.intro__item ul {
    list-style-type: disc;
    padding: 0px 20px
}

.intro__bone>div>p,
.intro__item>div>p {
    font-size: 16px;
    font-weight: bold;
}

.img-style-revese {
    width: 100%;
}

/* css phần sơ đồ */


/* css phần chứng nhận */

.custom-certification {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.custom-certification_img {
    width: 387.33px;
}

/* css phần sản phẩm */
.custom-product {
    padding: 20px 0px 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: centers;
}

.custom-tag {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.custom-tag__btn {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    background-color: var(--color-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-black);
    padding: 20px 56px;
}

.active {
    background-color: var(--secondary-color);
    color: var(--color-white);
}

.active div {
    border-bottom: 1px solid var(--color-white);
}

.custom-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-product {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.list-product__item {
    width: calc(25% - 20px);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.list-product__item p {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-black);
    font-size: 14px;
    text-align: center;
}

.list-product__item div {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-product__item button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--color-white);
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
}

/* css Phần tin tức */

.custom-news {
    width: 100%;
    display: flex;
    gap: 20px;
}

.news-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.old-news-area {
    display: flex;
    gap: 20px;
}

.top-news>h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news h4 {
    font-size: 14px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.news img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 16 / 9;
}

.news>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news>div>div {
    color: var(--primary-color);
}

.news:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* css partner */

.custom-partner h4 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.partner-list {}

.list-items {
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

.list-items img {
    width: 50%;
}

.partner-info {
    padding: 40px 20px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner-info img {
    aspect-ratio: 16 / 9;
    width: 50%;
    height: auto;
}

.partner-info div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* css phần footer */

.footer {
    background-color: var(--color-white);
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer i {
    font-size: 14px;
}

.footer__title {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 10px;
}

.footer__title h2 {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.footer-container {
    max-width: 1200px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.footer-container__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__content {
    display: flex;
    gap: 10px;
}

.footer__content div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px solid var(--secondary-color);
}

.footer__content i {
    color: var(--secondary-color);
    font-size: 12px;
}

.footer-form_email {
    width: 100%;
    display: flex;
    gap: 10px;
}


.footer-form_email input {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    height: 40px;
    padding: 0px 20px;
}

.footer-form_email button {
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    color: var(--color-white);
    border-radius: 10px;
    border: none;
}

.footer-container__content img {
    width: 171px;
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* css slick */
.slick-dots li button:before {
    color: var(--primary-color);
    font-size: 12px;
}

.slick-dots .slick-active button:before {
    color: var(--secondary-color);
    font-size: 16px;
}

.slick-dots {
    bottom: -30px;
}

.slick-dots li {
    margin: 0 10px;
}

.slick-dots li button:before {
    content: "◉";
}

/* css trang liên hệ */
.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: var(--color-white);
}

.contact-info {
    max-width: 1200px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__position {
    display: flex;
    justify-content: space-between;

}

.contact-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item__info {
    display: flex;
    gap: 10px;
}

.contact-item__info i {
    color: var(--secondary-color);
    font-size: 12px;
    display: flex;
    align-items: center;
}

.contact-item__info div {
    border: 1px solid var(--secondary-color);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.contact-item__info span {
    color: var(--secondary-color);
}

.contact-item h5 {
    font-size: 18px;
    color: var(--secondary-color);
}

.contact-info h1 {
    font-size: 24px;
}

/* css phần contact form */
.contact-form {
    max-width: 1200px;
    width: 100%;
    display: flex;
    gap: 20px;
    max-width: 1200px;
}

.contact-form>img {
    width: 100%;
}

.contact-form__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex: 1 1 calc(100% / 2 - 20px);
}

.contact-form__input div {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.contact-form__input h5 {
    color: var(--secondary-color);
    font-size: 24px;
}

.contact-form__input textarea {
    border-radius: 10px;
    padding: 20px 15px;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
}

.contact-form__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form__item input {
    padding: 20px 15px;
    border-radius: 10px;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
}

.contact-form__input button {
    background-color: var(--primary-color);
    color: var(--color-white);
    padding: 10px 30px;
    width: fit-content;
    border-radius: 10px;
    border: none;
}

.contact-form__input textarea::placeholder,
.contact-form__input input::placeholder {
    font-family: var(--font-name);

}


/* css trang sản phẩm */

.pagination {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.pagination div {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}


/* filter sản phẩm */
.filter-bar {
    width: 100%;
    display: flex;
    gap: 20px;
    border-radius: 5px;
}

.filter-bar__label {
    font-weight: bold;
}

.filter-bar > div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-bar > div > div {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.filter-bar__dropdown{
    border: none;    
}


.filter-bar__checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--color-white);
}


.filter-bar__checkbox input {
    cursor: pointer;
}