/* css reponsive */

@media screen and (max-width: 1700px) and (min-width : 1350px) {
    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    

}

@media screen and (max-width: 1349px) and (min-width: 1024px) {
    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    header {
        padding: 0px 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 30px;
    }


    .detail-product__element {
        gap: 10px
    }

    .detail-product__element h1 {
        font-size: 36px;
    }

    .product-contact__btn {
        font-size: 18px;
    }

    .contact-form>div>img{
        aspect-ratio: 9 / 18;
    }

    .contact-form__input>div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 881px) {
    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    header {
        padding: 0px 20px;
    }

    .custom-switch__lang>a {
        font-size: 14px;
    }

    .custom-menu__btn {
        padding: 0px 15px;
    }

    .custom-menu__element a {
        font-size: 14px;
    }

    .custom-intro__element p:first-child {
        font-size: 24px;
    }

    .nav-bar {
        padding: 20px;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .intro__bone {
        width: calc(100% - 20px);
    }

    .custom-content>div {
        gap: 10px;
    }

    .custom-content {
        gap: 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        gap: 30px;
    }

    .detail-news__content {
        padding: 0px;
    }

    .detail-product__element {
        gap: 10px
    }

    .detail-product__element h1 {
        font-size: 32px;
    }

    .product-contact__btn {
        font-size: 18px;
    }
    .contact-form__input{
        gap: 10px;
    }

    .contact-form>div>img{
        aspect-ratio: 9 / 20;
    }

    .contact-form__input>div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 30px;
    }
    .contact-form__input>div> span,
    .contact-form__input>div> h5 {
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
    }
}

@media screen and (max-width: 880px) and (min-width: 503px) {

    span,
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        line-height: 16px;
    }

    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -50%;
        right: 0px;
        width: 100%;
    }

    .img-map {
        aspect-ratio: 16 / 7;
        width: 100%;
        height: 100%;
        position: relative;
    }

    header {
        padding: 0px 20px;
    }

    .nav-bar {
        padding: 20px;
    }

    .logo {
        width: 100px;
    }

    .custom-menu__element {
        display: none;
    }

    .custom-menu__btn {
        display: none;
    }

    .custom-switch__lang {
        display: none;
    }

    .custom-menu__mobile {
        display: block;
    }

    .custom-intro {
        flex-direction: column;
    }

    .img-style-revese {
        aspect-ratio: 16 / 9;
    }

    .custom-intro img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .intro__bone {
        width: calc(100% - 20px);
    }

    .custom-content>div {
        gap: 10px;
        width: 100%;
    }

    .custom-content {
        gap: 20px;
        width: 100%;
    }

    .intro__bone {
        flex: 1 1 calc(50% - 20px);
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-news {
        flex-direction: column;
        gap: 30px;
    }

    .custom-intro__element p:first-child {
        font-size: 20px;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form>div:first-child {
        width: 100%;
    }

    .contact-form img {
        aspect-ratio: 16 / 9;
    }

    .custom-content {
        gap: 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-container p{
        white-space: nowrap;
    }

    .footer-container__content {
        flex: 1 1 calc(33.33% - 20px);
    }

    .footer-form_email input {
        flex-grow: 1;
    }

    .footer-container__content:nth-child(3) {
        flex-grow: 1;
        padding: 0px 30px;
    }

    /* css news */
    .custom-top__news {
        flex-direction: column;
    }

    .old-news-side {
        flex-direction: row;
    }

    .news_item {
        flex-direction: column;
    }

    .wrapper-news__items {
        flex: 0 0 calc(33.33% - 20px);
    }

    .wrapper-news {
        overflow: scroll;
    }

    .detail-news__content {
        padding: 0px;
    }

    .style-tag p {
        white-space: normal;
    }

    .detail-news__content p {
        font-size: 12px;
    }

    .custom-detail-product {
        flex-direction: column;
    }

    #scrollTopBtn {
        display: block;
        right: 20px;
    }

    .detail-product__img {
        width: 100%;
    }

    .footer__title>h2>span {
        font-size: 16px;
    }

    

    .contact-form__input>div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .contact-form>div>img{
        aspect-ratio: 16 / 9;
    }
    

    .contact-form__input{
        gap: 10px;
        width: 100%;
    }

    .contact-form__input>div>span,
    .contact-form__input>div>h5 {
        color: var(--secondary-color);
        font-size: 12px; 
        font-weight: bold;
        white-space: nowrap;
    }

    .img-product__slide{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

}

@media screen and (max-width: 502px) {

    span,
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 64px;
    }

    p {
        line-height: 14px;
    }

    section {
        padding: 25px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-bar {
        padding: 20px;
    }

    .contact__position {
        flex-direction: column;
    }

    .img-map img {
        position: absolute;
        top: -50%;
        right: 0px;
        width: 100%;
    }

    .img-map {
        aspect-ratio: 16 / 7;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .btn-control {
        display: none;
    }

    header {
        padding: 0px 20px;
    }

    .logo {
        width: 100px;
    }

    .custom-intro img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }

    .custom-menu__element {
        display: none;
    }

    .custom-menu__btn {
        display: none;
    }

    .custom-switch__lang {
        display: none;
    }

    .custom-menu__mobile {
        display: block;
    }

    .custom-content>div {
        gap: 10px;
        width: 100%;
    }

    .custom-content {
        gap: 20px;
        width: 100%;
    }

    .intro__bone {
        flex: 1 1 calc(50% - 20px);
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-intro {
        flex-direction: column;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form>div:first-child {
        width: 100%;
    }

    .contact-form img {
        aspect-ratio: 16 / 9;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .custom-content>p {
        font-size: 18px;
    }

    .intro__bone {
        width: 100%;
    }

    .custom-content>div {
        gap: 10px;
    }


    .custom-content>p:nth-child(1) {
        font-size: 18px;
    }

    .custom-intro__element>p:first-child {
        font-size: 18px;
    }

    .contact-form__input div {
        flex-direction: column;
    }

    .contact-form__input {
        width: calc(100% - 20px);
    }

    .list-items {
        flex-direction: column-reverse;
        gap: 0;
    }

    .list-items>img {
        width: 100%;
    }

    .partner-info {
        padding: 20px;
    }

    .partner-info img {
        width: 60%;
    }

    .partner-info div {
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .partner-info h5,
    .partner-info span,
    .partner-info p {
        width: 100%;
    }

    .custom-tag__btn {
        width: calc(33.33% - 20px);
        font-size: 16px;
        padding: 20px 20px;
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-news {
        flex-direction: column;
        gap: 30px;
    }

    .custom-intro__element p:first-child {
        font-size: 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-form_email input {
        flex-grow: 1;
    }

    .footer-container p {
        white-space: normal;
        font-size: 12px;
    }

    /* css news */
    .custom-top__news {
        flex-direction: column;
    }

    .old-news-side {
        flex-direction: column;
    }

    .news_item {
        flex-direction: row;
    }

    .custom-newspage {
        width: 100%;
    }

    .wrapper-news__items {
        flex: 0 0 calc(50% - 20px);
    }

    .wrapper-news {
        overflow: scroll;
        margin-left: 10px;
        gap: 30px;
    }

    .detail-news__content {
        padding: 0px;
    }

    .style-tag p {
        white-space: normal;
    }

    .detail-product__info p {
        font-size: 12px;
        line-height: 18px;
    }

    .detail-product__info h1 {
        font-size: 24px;
    }

    .detail-product__info h3 {
        font-size: 16px;
    }

    .custom-detail-product {
        flex-direction: column;
    }

    .detail-product__info>ul>li {
        font-size: 12px;
        line-height: 18px;
    }

    #scrollTopBtn {
        display: block;
        right: 20px;
    }

    .detail-product__img {
        width: 100%;
    }

    .product-contact__btn {
        font-size: 18px;
    }

    .footer__title>h2>span {
        font-size: 16px;
    }
    .contact-form>div>img{
        aspect-ratio: 16 / 9;
    }

    .contact-form__input{
        gap: 10px;
        width: 100%;
    }

    .contact-form__input>div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .contact-form__input>div>span,
    .contact-form__input>div>h5 {
        color: var(--secondary-color);
        font-size: 9px; 
        font-weight: bold;
        white-space: normal;
    }
    .img-product__slide{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}