/* css reponsive */

@media screen and (max-width: 1700px) and (min-width : 1350px) {
    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

}

@media screen and (max-width: 1349px) and (min-width: 1024px) {
    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    header {
        padding: 0px 20px;
    }

    .footer {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 881px) {
    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    header {
        padding: 0px 20px;
    }

    .custom-switch__lang>a {
        font-size: 14px;
    }

    .custom-menu__btn {
        padding: 0px 15px;
    }

    .custom-menu__element a {
        font-size: 14px;
    }

    .custom-intro__element p:first-child {
        font-size: 24px;
    }

    .nav-bar {
        padding: 20px;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .intro__bone {
        width: calc(100% - 20px);
    }

    .custom-content>div {
        gap: 10px;
    }

    .custom-content {
        gap: 20px;
    }

    .footer {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 880px) and (min-width: 500px) {

    span,
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        line-height: 16px;
    }

    section {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    header {
        padding: 0px 20px;
    }

    .nav-bar {
        padding: 20px;
    }

    .logo {
        width: 100px;
    }

    .custom-menu__element {
        display: none;
    }

    .custom-menu__btn {
        display: none;
    }

    .custom-switch__lang {
        display: none;
    }

    .custom-menu__mobile {
        display: block;
    }

    .custom-intro {
        flex-direction: column;
    }

    .img-style-revese {
        aspect-ratio: 16 / 9;
    }

    .custom-intro img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .intro__bone {
        width: calc(100% - 20px);
    }

    .custom-content>div {
        gap: 10px;
        width: 100%;
    }

    .custom-content {
        gap: 20px;
        width: 100%;
    }

    .intro__bone {
        flex: 1 1 calc(50% - 20px);
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-news {
        flex-direction: column;
        gap: 30px;
    }

    .custom-intro__element p:first-child {
        font-size: 20px;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form>div:first-child {
        width: 100%;
    }

    .contact-form img {
        aspect-ratio: 16 / 9;
    }

    .custom-content {
        gap: 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-container__content {
        flex: 1 1 calc(33.33% - 20px);
    }

    .footer-form_email input {
        flex-grow: 1;
    }

    .footer-container__content:nth-child(3) {
        flex-grow: 1;
        padding: 0px 30%;
    }

    /* css news */
    .custom-top__news {
        flex-direction: column;
    }

    .old-news-side {
        flex-direction: row;
    }

    .news_item {
        flex-direction: column;
    }

    .wrapper-news__items {
        flex: 0 0 calc(33.33% - 20px);
    }
    .wrapper-news{
        overflow: scroll;
    }
}

@media screen and (max-width: 499px) {

    span,
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 64px;
    }

    p {
        line-height: 14px;
    }

    section {
        padding: 25px 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-bar {
        padding: 20px;
    }

    .contact__position {
        flex-direction: column;
    }

    .img-map img {
        position: absolute;
        top: -30%;
        right: 0px;
        width: 100%;
    }

    .btn-control {
        display: none;
    }

    header {
        padding: 0px 20px;
    }

    .logo {
        width: 100px;
    }

    .custom-intro img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }

    .custom-menu__element {
        display: none;
    }

    .custom-menu__btn {
        display: none;
    }

    .custom-switch__lang {
        display: none;
    }

    .custom-menu__mobile {
        display: block;
    }

    .custom-content>div {
        gap: 10px;
        width: 100%;
    }

    .custom-content {
        gap: 20px;
        width: 100%;
    }

    .intro__bone {
        flex: 1 1 calc(50% - 20px);
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-intro {
        flex-direction: column;
    }

    .contact-form {
        flex-direction: column;
    }

    .contact-form>div:first-child {
        width: 100%;
    }

    .contact-form img {
        aspect-ratio: 16 / 9;
    }

    .intro__item,
    .intro__bone {
        padding: 10px;
    }

    .custom-content>p {
        font-size: 18px;
    }

    .intro__bone {
        width: 100%;
    }

    .custom-content>div {
        gap: 10px;
    }


    .custom-content>p:nth-child(1) {
        font-size: 18px;
    }

    .custom-intro__element>p:first-child {
        font-size: 18px;
    }

    .contact-form__input div {
        flex-direction: column;
    }

    .contact-form__input {
        width: calc(100% - 20px);
    }

    .list-items {
        flex-direction: column-reverse;
        gap: 0;
    }

    .list-items>img {
        width: 100%;
    }

    .partner-info {
        padding: 20px;
    }

    .partner-info img {
        width: 60%;
    }

    .partner-info div {
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .partner-info h5,
    .partner-info span,
    .partner-info p {
        width: 100%;
    }

    .custom-tag__btn {
        width: calc(33.33% - 20px);
        font-size: 16px;
        padding: 20px 20px;
    }

    .list-product__item {
        width: calc(50% - 20px);
    }

    .custom-news {
        flex-direction: column;
        gap: 30px;
    }

    .custom-intro__element p:first-child {
        font-size: 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-form_email input {
        flex-grow: 1;
    }

    /* css news */
    .custom-top__news {
        flex-direction: column;
    }

    .old-news-side {
        flex-direction: column;
    }

    .news_item {
        flex-direction: row;
    }

    .custom-newspage{
        width: 100%;
    }

    .wrapper-news__items {
        flex: 0 0 calc(50% - 20px);
    }
    .wrapper-news{
        overflow: scroll;
        margin-left: 10px;
        gap: 30px;
    }

}